muleapp/src/main/mule/muleapp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="8e16b197-73be-4ddc-90cd-3fe9ed362819" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="muleappFlow" doc:id="56309605-bcd1-43b6-a041-2fa3585e631a" >
		<http:listener doc:name="Listener" doc:id="51a75362-e0d2-48f9-8c5c-796109b1bc28" config-ref="HTTP_Listener_config" path="/muleapp"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="c45d7274-3afd-406a-8329-c909cb20580e" />
	</flow>
</mule>
